@import url('https://fonts.googleapis.com/css2? família=Oswald:wght@300&display=swap');
.container {
    color: white;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

header {
    background: linear-gradient(rgb(255, 0, 0), rgba(0,0,0,0));
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    position: fixed;
    width: 100vw;
    color: white;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    margin: 15px;
    color: white;
}

.main {
    background: linear-gradient(black, rgb(188, 0, 0));
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radius {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 300px; height: 300px;
    color: black;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,.3), crimson, rgba(0,0,0,.3));
    transition: all ease-in 1s;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 4px crimson;
}
.radius:hover {
    background: linear-gradient(crimson, rgba(0,0,0,.3), crimson);
    color: white;
    text-shadow: 1px 1px 4px black;
}
.main img {
    width: 800px;
    margin-right: 150px;
}

.firePage {
    width: 100vw; height: 100vh;  
    overflow-y: hidden;  
}
.divAbsolute {
    width: 100%; height: 100%;
    background: linear-gradient(rgb(188, 0, 0), rgba(0,0,0,0));
    position: absolute;
}
.firePage img {
    width: 100%; height: 100%;
}